<div class="home-wrapper">
    <div class="about-section">
        <img src="1.avif" alt="1.avif">
        <h2>Про нас</h2>
        <p>
            <span>Я кіт і в мене лапки</span>
            <span>Але разом ми розцарапаємо їб*ло кожному, хто ступив на нашу землю з війною</span>
        </p>
        <a [routerLink]="'/about'">Детальніше</a>
    </div>
    <div class="activity-section">
        <h2>Наша діяльність</h2>
        <p>Наші потужності виробництва підвищились, ми можемо виробляти ще більше маскувальних сіток!</p>
        <p>Нагальні потреби: Маскувальна тканина та основа для вплітання маскувальних стрічок</p>
        <p>Вартість матеріалу на одну маскувальну сітку (плетемо вручну, звичайного розміру 6.5х4.5 +- метри) складає приблизно 2500-3000 грн.</p>
        <p>Тому якщо у вас є знайомі, які: можуть допомогти ресурсами (гроші, основа, тканина) потребують маскувальних сіток — зверніться до адміна &#64;Gelios_Cat Також нагадуємо, що задонатити на матеріал для сіток ви можете сюди: Посилання на банку https://send.monobank.ua/jar/7aLDtFCAtL Номер банки 5375 4112 1756 9750 Будь-яка сума грошей рятуватиме життя</p>
        <a>Детальніше</a>
    </div>
    <div class="details">
        <h2>Наші реквізити</h2>
        <p>Наші реквізити: https://quicknote.io/73c4df10-49f2-11ef-8246-1d1dd0cefa13</p>
        <a>Детальніше</a>
    </div>
</div>