<div class="home-wrapper">
    <div class="about-section">
        <img src="cat.png" alt="Іконка кота">
        <p>
            <span>Я кіт і в мене лапки</span>
            <span>Але разом ми розцарапаємо їб*ло кожному, хто ступив на нашу землю з війною</span>
        </p>
        <a class="button" [routerLink]="'/about'">Детальніше</a>
    </div>
    <div class="activity-section">
        <h2>Наша діяльність</h2>
        <p>Наші потужності виробництва підвищились, ми можемо виробляти ще більше маскувальних сіток!</p>
        <p><span>Нагальні потреби:</span> Маскувальна тканина та основа для вплітання маскувальних стрічок</p>
        <p>Вартість матеріалу на одну маскувальну сітку (плетемо вручну, звичайного розміру 6.5х4.5 +- метри) складає приблизно <span>2500-3000 грн.</span></p>
        <p>Тому якщо у вас є знайомі, які: можуть допомогти ресурсами (гроші, основа, тканина) потребують маскувальних сіток — зверніться до адміна <a href="https://web.telegram.org/k/#@Gelios_Cat">&#64;Gelios_Cat</a>. Також нагадуємо, що задонатити на матеріал для сіток ви можете сюди:</p>
        <p>Посилання на банку https://send.monobank.ua/jar/7aLDtFCAtL</p>
        <p>Номер банки 5375 4112 1756 9750</p>
        <p class="bold-p">Будь-яка сума грошей рятуватиме життя</p>
        <a class="button" [routerLink]="'/about'">Детальніше</a>
    </div>
    <div class="details">
        <h2>Наші реквізити</h2>
        <a href="https://quicknote.io/73c4df10-49f2-11ef-8246-1d1dd0cefa13">https://quicknote.io/73c4df10-49f2-11ef-8246-1d1dd0cefa13</a>
    </div>
</div>