<div class="wrapper">
    <h2>Волонтерам</h2>
    <p>Завітайте на плетіння сіток до котиків "Геліос" цієї суботи! Не обіцяємо не кусатись, але чаєм пригостимо, зігріємо і всьому навчимо. З вас -  бажання та хороший настрій 😉</p>    
    <div class="sections">
        <section>
            <img src="guide1.avif" alt="Схема вирізання маскувальних стрічок">
            <h3>Виготовлення маскувальних стрічок</h3>
            <p>Стрічки, що стають частиною наших маскувальних сіток, ми виготовляємо з високоякісної спанбондової тканини.</p>
            <a href="guide1.pdf" download="camouflage-nets-production.pdf">Завантажити</a>
        </section>
        <section>
            <img src="guide2.avif" alt="Схема вплітання маскувальних стрічок">
            <h3>Вплітання маскувальних стрічок</h3>
            <p>Виготовлені нами маскувальні стрічки вплітаються в основу маскувальної сітки за простим алгоритмом, який не вимагає кропіткого розрахунку кутів та довжин рисунка.</p>
            <a href="guide2.pdf" download="camouflage-nets-production.pdf">Завантажити</a>
        </section>
        <section>
            <img src="guide3.avif" alt="Сітка на стійці">
            <h3>Виготовлення стійки для вплітання</h3>
            <p>Процес плетіння маскувальних сіток неможливий без надійної стійки для натягу основи. Пропозиції з їх виготовлення приймаємо за посиланням:</p>
            <a href="https://web.telegram.org/k/#@Gelios_Cat">Зв'язатися</a>
        </section>
        <section>
            <img src="guide4.avif" alt="Волонтери проаодять роботу над сіткою">
            <h3>Виготовлення сіток-витинанок</h3>
            <p>Волонтерам із досвідом роботи на швейній машинці пропонуємо застосування їхнього досвіду на благо армії.</p>
            <a href="https://t.me/GeliosCat">Зв'язатися</a>
        </section>
    </div>
</div>